<div class="col-md-3">
    <img src="/images/Bruce_Lee.jpg" class="img-fluid" alt="Responsive image">
    <h3>Bruce Lee</h3>
</div>
<div class="col-md-9">
    <p>
        The son of Cantonese opera star Lee Hoi-chuen, Lee was born in the Chinatown area of San Francisco, California,
        on November 27, 1940, to parents from Hong Kong, and was raised with his family in Kowloon, Hong Kong.[13] He
        was introduced to the film industry by his father and appeared in several films as a child actor. Lee moved to
        the United States at the age of 18 to receive his higher education at the University of Washington in
        Seattle,[14] and it was during this time that he began teaching martial arts. His Hong Kong and
        Hollywood-produced films elevated the traditional Hong Kong martial arts film to a new level of popularity and
        acclaim, sparking a surge of interest in Chinese martial arts in the West in the 1970s. The direction and tone
        of his films dramatically changed and influenced martial arts and martial arts films in the Hollywood, Hong
        Kong, and the rest of the world.[15]
    </p>
</div>