<div class="col-md-3">
    <img src="/images/Lebron.jpg" class="img-fluid" alt="Responsive image">
    <h3>
        LeBron Raymone James
    </h3>
</div>
<div class="col-md-9">
    <p>LeBron Raymone James Sr. (/ləˈbrɒn/; born December 30, 1984) is an American professional basketball player for
        the Los Angeles Lakers of the National Basketball Association. He is often regarded as the greatest basketball
        player of all time, which has resulted in frequent comparisons to Michael Jordan.[1][2] His accomplishments
        include three NBA championships, four NBA MVP Awards, three NBA Finals MVP Awards, and two Olympic gold medals.
        Lebron's teams appeared in eight consecutive NBA Finals (2011-2018 seasons). Lebron leads with the record for
        all-time NBA playoffs points scored, is third in all-time NBA points scored, and eighth in all-time NBA assists.
        James was selected to the All-NBA First Team a record twelve times, made the All-Defensive First Team five
        times, played in sixteen NBA All-Star Games as All-Star MVP three times.
    </p>
</div>