<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header"><a href="/index" class="navbar-brand">LAB2</a></div>
        <ul class="nav navbar-nav">
            <li class="nav-item"><a href="/Ronaldo">Cristiano Ronaldo</a></li>
            <li class="nav-item"><a href="/LeBron"> LeBron James</a></li>
            <li class="nav-item"><a href="/Bruce">Bruce Lee</a></li>
            <li class="nav-item"><a href="/Malik">Zayn Malik</a></li>


        </ul>
    </div>
</nav>